.App-Inner-Header-Logout {
  background-color: white;
  height: 8vh;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #1b1b1b;
  padding: 0 40px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #8b8a8a;
  margin: 0 30px 0 50px;
}

.App-Inner-Header-Logout button {
  color: #bbbbbb;
  font-size: small;
  font-weight: 900;
  height: auto;
  background-color: white;
  border-color: #bbbbbb;
  margin: 10px 20px 0px 0;
  width: 100px;
  text-align: center;
  padding: 0;
}

.my-orders {
  width: 300px;
  text-align: left;
}

.my-details {
  width: 300px;
  text-align: left;
}

.btn-update {
  color: #bbbbbb;
  font-size: small;
  font-weight: 900;
  height: auto;
  background-color: white;
  border-color: #bbbbbb;
  margin: 10px 20px 50px 0;
  width: 100px;
  text-align: center;
  padding: 0;
}

.update-div-btn {
  width: 300px;
  margin-bottom: 50px;
}
