.App {
  text-align: center;
  width: 400px;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-Inner-Header {
  background-color: white;
  height: 8vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1b1b1b;
  padding: 0 40px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #8b8a8a;
  margin: 0 30px 0 50px;
}

.App-content {
  padding: 30px;
  margin: 0 30px 0 30px;
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: left;
  width: 400px;
}

.App-link {
  color: #61dafb;
}

.btn {
  color: #1b1b1b;
  font-size: small;
  font-weight: 900;
  height: auto;
  background-color: #f1e073;
  border: none;
  margin: 10px 10px 10px 0;
  width: 100px;
  text-align: center;
  padding: 0;
}

.btn-admin {
  color: white;
  font-size: small;
  font-weight: 900;
  height: auto;
  background-color: #f34949;
  border: none;
  margin: 10px 10px 10px 0;
  width: 150px;
  text-align: center;
  padding: 0;
}

h1 {
  font-size: 40px;
  color: #1b1b1b;
}

h2 {
  font-size: 1rem;
  color: #1b1b1b;
}

h3 {
  font-size: 1rem;
  color: #1b1b1b;
}

p {
  font-size: 0.8rem;
  color: #1b1b1b;
}
label {
  font-size: 0.8rem;
  color: #1b1b1b;
  font-weight: 700;
  margin: 5px;
}

input {
  height: 20px;
  margin: 0;
  padding: 0;
}
table {
  margin-top: 1px;
}

td {
  font-size: 12px;
}

.text-boxes {
  margin: 30px;
}

form {
  margin-top: 30px;
  margin-bottom: 70px;
}
